/**{*/
	/*color: green;*/
/*}*/

/*reset browser's default style*/

*{

	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #efefef;
	text-shadow: 1px 1px 15px #000000;
	font-family: 'Lato', sans-serif;

}

body{

	background: 
		linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(255,0,0,0.0900560053122812) 50%, rgba(0,212,255,1) 100%),
		url("http://wallpapersboom.net/wp-content/uploads/2015/05/3211_kobe_bryant.jpg");
	/*background: */
		/*linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(4,180,191,0.49061622940191707) 50%, rgba(0,212,255,1) 100%),*/
		/*url("https://images.unsplash.com/photo-1576080314078-b92ecb7191bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");*/
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

main{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {

	display: flex;
	align-items: center;
	width: 75%;
}

.overview{

	padding: 3rem;

}

h1.fullname {

	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1rem;
}

small.job-title {

	color: goldenrod;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bolder;
}

p.description{

	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
}

hr {

	width: 5rem;
	border: none;
	height: 3px;
	background-color: skyblue;
	/*top and bottom margin, left and right margin*/
	margin: 1.5rem 0;
}

section.projects h2{

	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1rem;
}

section.projects a img{

	width: 60px;
	height: 60px;
	object-fit: cover;
}

section {

	margin-top: 1.5rem;
	margin-bottom: 3rem;

}

figure.image-container img{

	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

figure.image-container{

	padding: 3rem;

}

section a.contact-btn{

	background-color: #e91e63;
	border: 1px solid #e91e63;
	box-shadow: 2px 5px 8px #322e2e;
	padding: 0.75rem 1.75rem;
	color: #efefef;
	border-radius:20px;
	text-transform: uppercase;
	letter-spacing:2px;
	margin-bottom: 3rem;
	cursor: pointer;
}

a{

	text-decoration: none;
	color: skyblue;

}


section.social-media a {

	color:#efefef;
	margin: 0 0.5rem;
	font-size: 1.5rem;
	opacity: 0.75;
}

section.social-media a:hover {

	opacity: 1;

}
